{% load static %}
<link rel="stylesheet" href="{% static 'css/estilos.css' %}">

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Servidor</title>
</head>
<body>
    <div class="header">
        <h1>Administración de Servidores</h1>
        <p>Bienvenido {{ usuario }}</p>
    </div>
    <div class="logout">
        <a href="{% url 'logout' %}" style="color: white;">Cerrar Sesión</a>
    </div>
    <div class="back-button">
    <form action="{% url 'inicio' %}" method="get">
        <button type="submit">Regresar</button>
    </form>
</div>

    <div class="option">
            <img src="{% static 'img/registrar.png' %}" alt="Registrar Servidor">
            <p><b>Registar Servidor</b></p>
    </div>
    <div class="container">
        {% if messages %}
            <ul class="mensajes">
                {% for message in messages %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <form action="{% url 'registro' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="server-name">Nombre del Servidor:</label>
                <input type="text" id="server-name" name="server-name"
                       placeholder="Ingresa nombre del servidor"
                       pattern="[A-Za-z0-9\s]{1,50}" title="Solo letras, números y espacios"
                       required>
            </div>

            <div class="form-group">
                <label for="ip-address">Dirección IP:</label>
                <input type="text" id="ip-address" name="ip-address"
                       placeholder="Ej: 192.168.1.100"
                       pattern="^((25[0-5]|2[0-4][0-9]|1?[0-9]{1,2})\.){3}(25[0-5]|2[0-4][0-9]|1?[0-9]{1,2})$"
                       title="Introduce una dirección IP válida"
                       required>
            </div>

            <div class="form-group">
                <label for="user">Usuario remoto:</label>
                <input type="text" id="user" name="user"
                       placeholder="Nombre de usuario en el servidor"
                       pattern="[a-zA-Z0-9._-]{1,50}" title="Letras, números, puntos, guiones"
                       required>
            </div>

            <div class="button-container2">
                <button type="submit" class="registrar-btn">Registrar</button>
            </div>
        </form>
    </div>
</body>
</html>
