{% load static %}
<link rel="stylesheet" href="{% static 'css/estilos.css' %}">

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Servidor</title>
</head>
<body>
    <div class="header">
        <h1>Administración de Servidores</h1>
        <p>Bienvenido {{ usuario }}</p>
    </div>
    <div class="logout">
        <a href="{% url 'logout' %}" style="color: white;">Cerrar Sesión</a>
    </div>
    <div class="back-button">
    <form action="{% url 'inicio' %}" method="get">
        <button type="submit">Regresar</button>
    </form>
</div>

    <div class="option">
            <img src="{% static 'img/registrar.png' %}" alt="Registrar Servidor">
            <p><b>Registar Servidor</b></p>
    </div>
    <div class="container">
        {% if messages %}
            <ul class="mensajes">
                {% for message in messages %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <form action="{% url 'registro' %}" method="post">
        {% csrf_token %}
            <div class="form-group">
                <label for="server-name">Nombre del Servidor:</label>
                <input type="text" id="server-name" name="server-name" placeholder="Ingresa nombre del servidor" pattern="[A-Za-z0-9\s]{1,50}" title="Solo letras, números y espacios" required>
            </div>

            <div class="form-group">
                <label for="ip-address">Dirección IP:</label>
                <input type="text" id="ip-address" name="ip-address" placeholder="Ingresa direccion IP" pattern="^((25[0-5]|2[0-4][0-9]|1?[0-9]{1,2})\.){3}(25[0-5]|2[0-4][0-9]|1?[0-9]{1,2})$" title="Introduce una dirección IP válida, como 192.168.1.1" required>
            </div>

            <div class="form-group">
                <label for="user">Usuario:</label>
                <input type="text" id="user" name="user" placeholder="Ingresa nombre de usuario" pattern="[A-Za-z0-9_?\.]{1,50}" title="Solo letras y números" required>
            </div>

            <div class="form-group">
                <label for="pass">Contraseña:</label>
                <input type="password" id="pass" name="pass" placeholder="Ingresa contraseña" pattern=".{1,50}" value="{{ request.POST.pass|default:'' }}" pattern="[A-Za-z0-9_?\.]{1,50}" title="Solo letras y números" required>
            </div>
            <div class="button-container2">
                <button type="submit" class="registrar-btn">Registrar</button>
            </div>
        </form>
    </div>
</body>
</html>
