{% load static %}
<link rel="stylesheet" href="{% static 'css/estilos2.css' %}">

<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <title>verificacion</title>
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>

    <form method="POST" action="{% url 'verificacion' %}">
        {% csrf_token %}
        <h2>Verificación</h2>
        <h3>Administración de Servidores</h3>

        <label for="otp">Ingresa el código enviado a tu correo</label>
        <input type="text" name="otp" id="otp" required maxlength="6" pattern="\d{6}" placeholder="Ingrese el código de 6 dígitos">
        <button type="submit">Verificar Código</button>

        {% if error %}
        <p style="color: red;">{{ error }}</p>
        {% endif %}
    </form>
</body>
<script>
    window.addEventListener("pageshow", function (event) {
        if (event.persisted) {
            location.reload();
        }
    });
</script>
</html>
